<main class="form-signin">
  <div class="container">
    <div class="col-8">
     <form>

       <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

       <div class="form-floating m-2">

         <input type="text" [(ngModel)]="loginModel.name" name="name"class="form-control">

         <label for="floatingInput">Name</label>
       </div>
       <div class="form-floating m-2">

         <input type="text" [(ngModel)]="loginModel.password" name="password" class="form-control" >
         <label for="floatingPassword">Password</label>
       </div>
<div class="alert alert-danger" *ngIf="!loginModel.name">
  <label >
    No such user exists
  </label>
</div>
<div class="alert alert-primary" *ngIf="loginModel.name">
<label style="display: block;">
  user Name: {{ loginModel.name}}
</label>
<label style="display: block;">
  user password: {{ loginModel.password}}
</label>
<label style="display: block;">
  user created at: {{ loginModel.created_at}}
</label>
</div>

       <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">Sign in</button>

       <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
     </form>
    </div>
  </div>
 </main>

